{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Ibovespa x Prev. do Tempo</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Ibovespa</h5>
                      <span class="h2 font-weight-bold mb-0">{{ '{:,}'.format(registros['ibovespa']).replace(',', '.') }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Previsão do Tempo</h5>
                      <span class="h2 font-weight-bold mb-0">{{ '{:,}'.format(registros['clima']).replace(',', '.') }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-umbrella-13"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-6">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Visão Geral</h6>
                  <h5 class="h3 text-white mb-0">Ibovespa x Previsão do Tempo</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[100, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Pontos</span>
                        <span class="d-md-none">P</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"labels": ["25°C", "30°C", "22°C", "19°C", "26°C", "32°C", "27°C", "26°C", "25°C"], "datasets":[{"data":[2, 2, 3, 3, 6, 1, 5, 4, 15]}]}}' data-prefix="" data-suffix="%">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Variação</span>
                        <span class="d-md-none">V</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Última</h6>
                  <h5 class="h3 mb-0">Previsão do Tempo</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                      <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-bars" data-update='{{ ultima_previsao }}' data-prefix="" data-suffix="°C">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Atualizar</span>
                        <span class="d-md-none">⟳</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Índice Bovespa (Top 5)</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Pontos</th>
                    <th scope="col">Variação</th>
                    <th scope="col">Mínimo</th>
                    <th scope="col">Máximo</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Horário</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ibov in ibovespa %}
                    <tr>
                        <td>{{ '{:,}'.format(ibov['pontos']).replace(',', '.') }}</td>
                        <td>{{ ibov['variacao']|string + ibov['unidade_variacao'] }}</td>
                        <td>{{ '{:,}'.format(ibov['minimo']).replace(',', '.') }}</td>
                        <td>{{ '{:,}'.format(ibov['maximo']).replace(',', '.') }}</td>
                        <td>{{ '{:,.2f}'.format(ibov['volume']).replace('.', ';').replace(',', '.').replace(';', ',') }}</td>
                        <td>{{ ibov['horario'] }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Previsão do Tempo (Top 5)</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Cidade</th>
                    <th scope="col">Temperatura</th>
                    <th scope="col">Umidade</th>
                    <th scope="col">Visibilidade</th>
                    <th scope="col">Pressão</th>
                    <th scope="col">Horário</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in clima %}
                    <tr>
                        <td>{{ c['cidade'] }}</td>
                        <td>{{ c['temperatura']|string + c['unidade_temp'] }}</td>
                        <td>{{ '%.1f'|format(c['umidade'])|string + c['unidade_umidade'] }}</td>
                        <td>{{ c['visibilidade']|string + c['unidade_vis'] }}</td>
                        <td>{{ '{:,}'.format(c['pressao']).replace(',', '.')|string + c['unidade_pressao'] }}</td>
                        <td>{{ c['horario'] }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
