<!DOCTYPE html>
<html>
<title>Teste Gotodata</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="abre_menu();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><br></span>
</div>

<div class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="barraMenu"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/static/img/gotodata.png" class="w3-circle w3-margin-right" style="width:90%">
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="fecha_menu()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
  </div>
</div>


<!-- Efeito Overlay quando abre menu lateral em telas menores -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="fecha_menu()" style="cursor:pointer" title="close side menu" id="overlay"></div>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Ibovespa x Prev. do Tempo</b></h5>
    <p>Atualizado há cada 30 min.</p>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-line-chart w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ '{:,}'.format(registros['ibovespa']).replace(',', '.') }}<br>downloads</h3>
        </div>
        <br><br>
        <h4>Ibovespa</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-sun-o w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ '{:,}'.format(registros['clima']).replace(',', '.') }}<br>downloads</h3>
        </div>
        <br><br>
        <h4>Previsão do Tempo</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <!-- / -->
    </div>
  </div>

    

  <div class="w3-container">
    <h5>Índice Bovespa (Top 5)</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <tr>
        <th>Pontos</th>
        <th>Variação (Dia)</th>
        <th>Mínimo (Dia)</th>
        <th>Máximo (Dia)</th>
        <th>Volume</th>
        <th>Horário</th>
    </tr>
      {% for ibov in ibovespa %}
        <tr>
            <td>{{ '{:,}'.format(ibov['pontos']).replace(',', '.') }}</td>
            <td>{{ ibov['variacao']|string + ibov['unidade_variacao'] }}</td>
            <td>{{ '{:,}'.format(ibov['minimo']).replace(',', '.') }}</td>
            <td>{{ '{:,}'.format(ibov['maximo']).replace(',', '.') }}</td>
            <td>{{ '{:,.2f}'.format(ibov['volume']).replace('.', ';').replace(',', '.').replace(';', ',') }}</td>
            <td>{{ ibov['horario'] }}</td>
        </tr>
      {% endfor %}
    </table><br>
  </div>
  <br>


  <div class="w3-container">
    <h5>Previsão do Tempo (Top 5)</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <tr>
        <th>Cidade</th>
        <th>Temperatura</th>
        <th>Umidade</th>
        <th>Visibilidade</th>
        <th>Pressão</th>
        <th>Horário</th>
    </tr>
      {% for c in clima %}
        <tr>
            <td>{{ c['cidade'] }}</td>
            <td>{{ c['temperatura']|string + c['unidade_temp'] }}</td>
            <td>{{ '%.1f'|format(c['umidade'])|string + c['unidade_umidade'] }}</td>
            <td>{{ c['visibilidade']|string + c['unidade_vis'] }}</td>
            <td>{{ '{:,}'.format(c['pressao']).replace(',', '.')|string + c['unidade_pressao'] }}</td>
            <td>{{ c['horario'] }}</td>
        </tr>
      {% endfor %}
    </table><br>
  </div>
  <br>

</div>
<footer class="w3-container w3-padding-16 w3-dark-grey">
</footer>


<script>
var barraMenu = document.getElementById("barraMenu");

var overlayBg = document.getElementById("overlay");

function abre_menu() {
  if (barraMenu.style.display === 'block') {
    barraMenu.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    barraMenu.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

function fecha_menu() {
  barraMenu.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
